TOKEN=1234567890:A1BCd2EF3gH45IJK6lMN7oPqr8ST9UvWX0Yz0  # get it from @BotFather
MANAGER=1234567890  # get it from @userinfobot, can be a list (e.g., 1234567890;987654321)

# ↓------ To disable sending via Telegraph, comment out this area ------↓ #
# Get Telegraph API access tokens: https://api.telegra.ph/createAccount?short_name=RSStT&author_name=Generated%20by%20RSStT&author_url=https%3A%2F%2Fgithub.com%2FRongronggg9%2FRSS-to-Telegram-Bot
# Refresh the page every time you get a new token.
# If you have a lot of subscriptions, make sure to get at least 5 tokens.
#                            ↓ Replace with your access tokens ↓
TELEGRAPH_TOKEN="
        1a23b456c78de90f1a23b456c78de90f1a23b456c78de90f1a23b456c78d
        1a23b456c78de90f1a23b456c78de90f1a23b456c78de90f1a23b456c78d
        1a23b456c78de90f1a23b456c78de90f1a23b456c78de90f1a23b456c78d
        1a23b456c78de90f1a23b456c78de90f1a23b456c78de90f1a23b456c78d
        1a23b456c78de90f1a23b456c78de90f1a23b456c78de90f1a23b456c78d
        "
# ↑------ To disable sending via Telegraph, comment out this area ------↑ #

# Please read https://github.com/Rongronggg9/RSS-to-Telegram-Bot/blob/master/docs/advanced-settings.md for more details.
# ↓------ Advanced settings ------↓ #
#ERROR_LOGGING_CHAT=-1001234567890  # default: the first MANAGER
#MULTIUSER=0  # default: 1
#CRON_SECOND=30  # 0-59, default: 0
#DATABASE_URL=postgres://username:password@host:port/db_name  # default: sqlite:/path/to/config/db.sqlite3
#API_ID=1025907  # get it from https://core.telegram.org/api/obtaining_api_id
#API_HASH=452b0359b988148995f22ff0f4229750  # get it from https://core.telegram.org/api/obtaining_api_id
#IMG_RELAY_SERVER=https://wsrv.nl/?url=  # default: https://rsstt-img-relay.rongrong.workers.dev/
#IMAGES_WESERV_NL=https://t0.nl/  # default: https://wsrv.nl/
#USER_AGENT=Mozilla/5.0  # default: RSStT/* RSS Reader (+https://git.io/RSStT)
#IPV6_PRIOR=1  # default: 0
#VERIFY_TLS=0  # default: 1
#T_PROXY=socks5://172.17.0.1:1080  # Proxy used to connect to the Telegram API
#R_PROXY=socks5://172.17.0.1:1080  # Proxy used to fetch feeds
#PROXY_BYPASS_PRIVATE=1  # default: 0
#PROXY_BYPASS_DOMAINS=example.com;example.net
#HTTP_TIMEOUT=30  # default: 12
#HTTP_CONCURRENCY=0  # default: 1024
#HTTP_CONCURRENCY_PER_HOST=0  # default: 16
#TABLE_TO_IMAGE=1  # default: 0
#TRAFFIC_SAVING=1  # default: 0
#LAZY_MEDIA_VALIDATION=1  # default: 0
#MANAGER_PRIVILEGED=1  # default: 0
#NO_UVLOOP=1  # default: 0
#MULTIPROCESSING=1  # default: 0
#EXECUTOR_NICENESS_INCREMENT=5  # default: 2
#DEBUG=1  # debug logging, default: 0
# ↑------ Advanced settings ------↑ #
