# telegram and telegraph
cryptg==0.3.1
telethon==1.24.0
aiographfix==0.2.2

# feed parsing
feedparser==6.0.10  # feedparser@git+https://github.com/Rongronggg9/feedparser.git@develop
listparser[lxml]==0.19
pillow==9.2.0
beautifulsoup4==4.11.1
lxml==4.9.1
rapidfuzz==2.4.3
emoji==2.0.0
minify-html>=0.6.10, <=0.9.2  # 0.6.10 for Python 3.7 (however, minify-html<0.7.0 comes with no arm64 support)
matplotlib==3.5.2

# db
asyncpg==0.26.0  # asyncpg@git+https://github.com/Rongronggg9/asyncpg.git@fix/pep-621
tortoise-orm[accel]==0.19.2
aerich==0.6.3

# network
aiohttp[speedups]==3.8.1
aiohttp-socks==0.7.1
aiohttp-retry==2.7.0
python-socks[asyncio]==2.0.3
dnspython[idna]==2.2.1
url-normalize==1.4.3

# utils
colorlog==6.6.0
APScheduler==3.9.1
python-dotenv==0.20.0
multidict==6.0.2
attrs==22.1.0
asyncstdlib==3.10.5
cachetools==5.2.0
CJKwrap==2.2
typing-extensions==4.3.0
uvloop==0.16.0; python_version>="3.7" and sys_platform!='win32' and sys_platform!='cygwin' and sys_platform!='cli'
